<!DOCTYPE html>

<head>
    <meta charset="utf-8"/>
</head>

<title>
    Hearthstone Mercenary Helper
</title>

<body>
<h2>Mercenary</h2>
<div class="main">
<table class="mercenary">
    <tr>
        <th rowspan="5"><img alt="" src="{{ url_for('static', path =path) }}" ></th>
        <td>
            <b>name</b>
        </td>
        <td>
            {{ name }}
        </td>
    </tr>
    <tr>
        <td>
            <b>role</b>
        </td>
        <td>
            {{ role }}
        </td>
    </tr>
    <tr>
        <td>
            <b>rarity</b>
        </td>
        <td>
            {{ rarity }}
        </td>
    </tr>
    <tr>
        <td>
            <b>minion type</b>
        </td>
        <td>
            {{ minion_type }}
        </td>
    </tr>
    <tr>
        <td>
            <b>faction</b>
        </td>
        <td>
            {{ faction }}
        </td>
    </tr>
</table>
</div>
</body>